{% load i18n %}
{% load static %}
{% load p_gravatar %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block head_title %}{{ site_name }}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'postorius/img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'postorius/libs/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'django-mailman3/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'postorius/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'postorius/libs/fonts/font-awesome/css/font-awesome.min.css' %}" type="text/css" media="all" />
    {% block additionalcss %}
    <link rel="stylesheet" href="{% static 'mmtheme/css/theme.css' %}">
    {% endblock %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="{% static 'postorius/libs/html5shiv/html5shiv.min.js' %}"></script>
      <script src="{% static 'postorius/libs/respond/respond.min.js' %}"></script>
    <![endif]-->
</head>
<body class="m-0">

  <div class="d-flex align-items-end flex-column axdd-topbar" style="min-height: 100vh">
    <header class="w-100">
        <div class="bg-dark-purple axdd-topbar-thin small">
        <div class="container-fluid">
            <div class="row" role="navigation">

            <ul class="col list-unstyled m-0 d-flex">
                    {% if not user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle text-white text-nowrap" data-toggle="dropdown"
                               role="button" aria-haspopup="true" aria-expanded="false">
                                {% gravatar user.email 20 %}
                                {{ user.username|truncatechars:"35" }} mynetidxxxx
                                <span class="caret"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="{% url 'mm_user_profile' %}" class="dropdown-item">
                                    <span class="fa fa-user"></span>
                                    {% trans 'Account' %}
                                </a>
                                <a href="{% url 'ps_user_profile' %}" class="dropdown-item">
                                    <span class="fa fa-cog"></span>
                                    {% trans 'Mailman settings' %}
                                </a>
                                {% if 'hyperkitty' in INSTALLED_APPS %}
                                <a href="{% url 'hk_user_profile' %}" class="dropdown-item text-nowrap">
                                <span class="fa fa-comment"></span>
                                    {% trans 'Posting activity' %}
                                </a>
                                {% endif %}
                                <div class="dropdown-divider"></div>
                                <a href="{% url LOGOUT_URL %}?next={% url 'list_index' %}" class="dropdown-item text-nowrap">
                                    <span class="fa fa-sign-out"></span>
                                    {% trans 'Logout' %}
                                </a>
                            </div>
                        </li>
                    {% else %}
                        <li class="mr-3">
                            <a class="text-white text-nowrap" href="{% url LOGIN_URL %}?next={{ next|default:request.path|urlencode }}">
                            <span class="fa fa-sign-in"></span>
                            {% trans "Sign In" %}
                        </a>
                    </li>
                        <li>
                        <a class="text-white text-nowrap" href="{% url 'account_signup' %}?next={{next|default:request.path|urlencode}}">
                            <span class="fa fa-user-plus"></span>
                            {% trans 'Sign Up' %}
                        </a>
                    </li>
                    {% endif %}
                </ul>

                <ul class="col list-unstyled m-0 d-flex justify-content-end">
                    <li class=""><a href="{% url 'list_index' %}" class="text-white text-nowrap">
                        <span class="fa fa-envelope"></span>
                        {% trans 'Lists' %}
                    </a></li>
                    {% if user.is_superuser %}
                        <li class="ml-3">
                          <a href="{% url 'domain_index' %}" class="text-white text-nowrap">
                            <span class="fa fa-globe"></span>
                            {% trans 'Domains' %}
                          </a>
                        </li>
                        <li class="ml-3">
                            <a href="{% url 'global_bans' %}" class="text-white text-nowrap">
                                <span class="fa fa-ban"></span>
                                {% trans 'Bans' %}
                            </a>
                        </li>
                        <li class="ml-3">
                            <a href="{% url 'system_information' %}" class="text-white text-nowrap">
                                <span class="fa fa-list-alt"></span>
                                {% trans 'System Information' %}
                            </a>
                        </li>
                    {% endif %}
                    {% if 'hyperkitty' in INSTALLED_APPS %}
                        <li class="ml-3"><a href="{% url 'hk_root' %}" class="text-white text-nowrap">
                            <span class="fa fa-comment"></span>
                            {% trans 'Archives' %}
                        </a></li>
                    {% endif %}
                </ul>

                
            </div>
        </div>
    </div>
    <div class="bg-purple axdd-topbar-brand">
        <div class="container-fluid axdd-topbar-logo" style="background-image: url('{% static '/mmtheme/images/w-logo-white.png' %}');">
            <a class="h3 text-white align-middle" href="{% url 'list_index' %}" style="text-decoration:none;">Mailman</a>
        </div>
    </div>
    </header>
    <div class="w-100 mt-3">
      
        <main class="container-fluid">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% block content %}{% endblock content %}
        </main>

    </div>


    <div class="w-100 mt-auto pt-3 small" role="contentinfo">
        {% include '../mmtheme/footer.html' %}
    </div>

  </div>

    <script src="{% static 'postorius/libs/jquery/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'postorius/libs/popperjs/popper-v1.11.0.min.js' %}"></script>
    <script src="{% static 'postorius/libs/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'django-mailman3/js/main.js' %}"></script>
    <script src="{% static 'postorius/js/script.js' %}"></script>
    {% block additionaljs %}{% endblock %}
</body>
</html>

