/*** base font ***/

html {
    font-size: 16px;
}

/*** colors ***/
.bg-dark-purple {
    background-color: #452a78 !important;
}
.bg-purple {
    background: #4d307f !important;
}

/*** axdd topbar layout ***/

.axdd-topbar {
    min-width: 320px;
  }

.axdd-topbar-thin {
    line-height: 40px;
    font-weight: 300 !important;
}

.axdd-topbar-brand {
    line-height: 65px;
}

.axdd-topbar-logo {
    background-repeat: no-repeat;
    background-size: 45px;
    background-position: right 20px bottom;
}