.axdd-purple {
    background: #4d307f !important;
}
.axdd-brand {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30px;
    width: 100px;
    padding-left: 40px;
    margin-right: 20px;
}